.login-page {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(10, 4, 60, 1) 0%, rgba(26, 27, 65, 1) 50%, rgba(0, 74, 153, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .login-page * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
  .login-page  body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }
 
  .login-page .wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
 
  .login-page  .container_login {
    width: 60vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }
 
  .login-page .img {
    display: flex;
    justify-content:center;
    align-items: center;
    background: #491CCA;
    border-radius: 40px 0px 0px 40px;
  }
 
  .login-page .login_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: white;
    padding-left: 2rem;
    border-radius: 0px 40px 40px 0px;
  }
 
  .login-page .img img {
    width: 400px;
  }
 
  .login-page form {
    width: 360px;
  }
 
  .login-page .login_content img {
    height: 100px;
  }
 
  .login-page .login_content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 1.9rem;
  }
 
  .login-page .login_content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
  }
 
  .login-page .login_content .input-div.one {
    margin-top: 0;
  }
 
  .login-page .i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .login-page .i i {
    transition: .3s;
  }
 
  .login-page .input-div > div {
    position: relative;
    height: 45px;
  }
 
  .login-page .input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
  }
 
  .login-page .input-div:before,
  .login-page .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #4032be;
    transition: .4s;
  }
 
  .login-page .input-div:before {
    right: 50%;
  }
 
  .login-page .input-div:after {
    left: 50%;
  }
 
  .login-page .input-div.focus:before,
  .login-page .input-div.focus:after {
    width: 50%;
  }
 
 .login-page.login-page .input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
  }
 
 .login-page.login-page .input-div.focus > .i > i {
    color: #4032be;
  }
 
 .login-page.login-page .input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
  }
 
 .login-page.login-page .input-div.pass {
    margin-bottom: 4px;
  }
 
 .login-page a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
  }
 
 .login-page a:hover {
    color: #4032be;
  }
 
 .login-page .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #3b32be, #3847d3, #4032be);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
  }
 
 .login-page .btn:hover {
    background-position: right;
  }
 
  @media screen and (max-width: 1050px) {
 
  }
 
  @media screen and (max-width: 1000px) {
    .login-page form {
        width: 290px;
    }
 
    .login-page  .login_content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
 
    .login-page .img img {
        width: 400px;
    }
  }
 
  @media screen and (max-width: 900px) {
   .login-page .container_login {
        grid-template-columns: 1fr;
    }
 
   .login-page .img {
        display: none;
    }
 
   .login-page .wave {
        display: none;
    }
 
   .login-page .login_content {
        justify-content: center;
    }
  }